<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
<!--*ngfor de chat y ponemos chatService que es el nombre que esta inyectado en el constructor chat.component.ts-->
  <!--Luego .chats que esta en nuestro servicio 'chat.service.ts'- agregamos la clase text right si el chatsrvice.uid = al chat -->
  <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chatService.uid == chat.uid}">
    <span class="badge" [ngClass]="{'badge-primary': chatService.uid == chat.uid, 'badge-success': chatService.uid !== chat.uid}">{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>
  </div>
  <!--<div class="text-right">-->
    <!--<span class="badge badge-primary">Alex</span>-->
    <!--<p>Este es un mensaje de chat</p>-->
  <!--</div>-->
  <!--<div class="">-->
    <!--<span class="badge badge-success">Maria</span>-->
    <!--<p>Saludos Alex</p>-->
  <!--</div>-->
<!--</div>-->

<!--[(ngModel)]="mensaje" DEBEMOS DECLARAR la variable mensaje tambien en el TS e importar FormsModule en el app.module.ts-->
</div>
  <input class="form-control"
       type="text"
       name="mensaje"
       [(ngModel)]="mensaje"
       placeholder="Enviar mensaje"
       (keyup.enter)="enviar_mensaje()">

